<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>profile</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .error {
            color: red
        }
    </style>
</head>
<body>
<div th:replace="~{components/navigation :: navigation(profile)}" />
<div class="d-flex justify-content-center">
    <div id="loginbox"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <div class="panel-title">Profile</div>
            </div>

            <div class="panel-body">
                <form th:action="@{/auth/profile/process}"
                      th:object="${profileUser}" method="post"
                      class="form-horizontal"
                >

                    <div class="error" th:if="${#fields.hasErrors('whatsApp')}" th:errors="*{whatsApp}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user">whatsApp</i>
                        <input th:field="*{whatsApp}" placeholder="whatsApp (*)" class="form-control"/></span>
                    </div>

                    <div class="error" th:if="${#fields.hasErrors('facebook')}" th:errors="*{facebook}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user">facebook</i>
                        <input th:field="*{facebook}" placeholder="name (*)" class="form-control"/></span>
                    </div>

                    <div class="error" th:if="${#fields.hasErrors('telegram')}" th:errors="*{telegram}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user">telegram</i>
                        <input th:field="*{telegram}" placeholder="whatsApp (*)" class="form-control"/></span>
                    </div>

                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user">email</i>
                        <input th:field="*{email}" placeholder="name (*)" class="form-control"/></span>
                    </div>

                    <div style="margin-top: 10px" class="form-group d-flex">
                        <div class="col-sm-6 controls">
                            <a type="submit" href="/home" class="btn btn-success w-100">Home</a>
                        </div>

                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-primary w-100">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
